@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grid {
  grid-template-columns: minmax(0, 1fr); /* Use 1 fractional unit for the sidebar column */
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: minmax(0, 135px) minmax(0, 1fr); /* Set a fixed width for the sidebar column */
  }

  .main-content {
    grid-column-start: 2; /* Start the main content from the second column */
  }
}
